{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <article>
            <h1>Make a reservation</h1>
            <div class="row">
                <div class="column">
                    {% csrf_token %}
                    <form method="POST" id="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" id="button">Reserve</button>
                    </form>
                </div>
                <div class="column">
                    <h2>Bookings For <span id="today">Today</span></h2>
                    <div id="bookings">
                        {% for book in books %}
                            <p>
                                {{ book.booker_name }} - Today at {{ book.reservation_time }} Slot: {{ book.reservation_slot }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
    </section>
    <script>
        document.getElementById('button').addEventListener('click', () => {
            document.getElementById('form').submit()
        })
    </script>
{% endblock %}

